version: '3'
services:
  influxdb:
    restart: always
    image: 'influxdb:latest'
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=bellavr23
      - DOCKER_INFLUXDB_INIT_ORG=bell-avr
      - DOCKER_INFLUXDB_INIT_BUCKET=avr
    volumes:
      - ./influxDB/data:/var/lib/influxdb2
      - ./influxDB/config:/etc/influxdb2
    ports:
      - 8086:8086
  mqtt:
    image: docker.io/library/eclipse-mosquitto:2.0.11
    ports:
      - 1883:1883
    restart: on-failure
    volumes:
      - ./mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf
  nodered:
    image: nodered/node-red:latest
    environment:
      - TZ=America/Chicago
    ports:
      - 1880:1880
    volumes:
      - ./nodered/data:/data
  event-processor:
    build:
      context: ./event-processor/
      dockerfile: ./Dockerfile
    restart: on-failure
    depends_on:
      - influxdb
      - mqtt